# editor and IDE paraphernalia
.idea
*.swp
*.swo
*~
.vscode

# direnv cache
.direnv

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
**/bin
**/testbin/*
**/target/
**/result
.stack-work/
tarballs/
.ignore


